@model IEnumerable<DATennis.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h1>Welcome to DA Tennis Tournament!</h1>
<p>7 March - 13 March 2022</p>
<hr />
<p>DA Tennis Tournament tickets will be on sale soon. Stay tuned!</p>
<hr />
<p>Location: Malta</p>
<hr />
<p>Tournament Format:</p>
<p>There are two groups made up of the top 10 tennis players. The first phase of the tournament is the group round-robin. Each player in each group will be playing against each other. The top 2 players from each group will pass on to the next phase, the semi finals, where the winners of the groups will play against the players who will rank 2nd. The winners from the semi finals will then face each other in the final.</p>
<p>Court surface: Hard court</p>
<hr />

<div class="row">
    @foreach (var player in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.ActionLink(player.Name, "Details", new { id = player.Id })</h3>
                </div>
                <div class="panel-body">
                    <p>Rank: @player.Ranking</p>
                    <p>Country: @player.Country</p>
                </div>
            </div>
        </div>
    }
</div>